<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="com.testcases.GoogleTest" verbose="0">
	<listeners>
		<listener class-name="com.framework.MyReporterListener" />
		<listener class-name="com.framework.ExtentTestNGIReportListener" />
	</listeners>

	<test thread-count="5" name="Sample Tests" verbose="0">
		<!-- <groups>
			<run>
				<include name="test"></include>
			</run>
		</groups> -->
		<classes>
			<class name="com.testcases.SalesForceNewLeadFlowTest" />
		</classes>
	</test> <!-- Command line test -->
</suite> <!-- com.testcases.GoogleTest -->